---
apiVersion: v1
kind: Secret
metadata:
  name: {{ awx_name }}-postgres-configuration
  namespace: {{ awx_namespace }}
type: Opaque
stringData:
  host: "{{ awx_postgres_host }}"
  port: "{{ awx_postgres_port }}"
  database: "{{ awx_postgres_database }}"
  username: "{{ awx_postgres_user }}"
  password: "{{ awx_postgres_password }}"
  sslmode: "{{ awx_postgres_sslmode }}"
  type: unmanaged
